@import "./sizes.css";

body {
  background: url("https://assets.codepen.io/406785/vecteezy_kitchen-cloth-on-wood-table_2229509-min.jpg?format=auto");
  background-position: 10% 75%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Mrs Saint Delafield", serif;
}

.content {
  max-width: var(--s15);
  min-width: 80vw;
  background-color: #f4ebda;
  border-radius: 0.25rem;
  overflow: hidden;
  padding-left: var(--s9);
  background:
    repeating-linear-gradient(#0000 0 calc(1.2rem - 1px), #78baf3 0 1.2rem) right bottom /
      100% 100%,
    linear-gradient(#ffcecd 0 0) 45px 0/2px 100% #f4ebda;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  transform: rotate(-2deg);
  clip-path: polygon(
    1% 2%,
    3.5% 0.1%,
    8.9% 2.7%,
    16.2% 1.2%,
    19.7% 0.8%,
    24.7% 2%,
    31.2% 0%,
    35.9% 2.3%,
    40.6% 0.5%,
    47.1% 1.8%,
    49.9% 1%,
    53.8% 2.5%,
    62.2% 0.4%,
    67.3% 1.2%,
    70.3% 0.3%,
    75.8% 1.4%,
    78.5% 1.7%,
    84% 2.6%,
    91.1% 0.5%,
    93.6% 2.4%,
    97.3% 0.3%,
    98.9% 6%,
    98.1% 11.4%,
    98.6% 15.5%,
    97.3% 17.8%,
    97.7% 27.4%,
    98.3% 28.5%,
    99.7% 34.1%,
    98.8% 41.9%,
    98.3% 45.7%,
    98.4% 50.9%,
    98.7% 57.4%,
    99.6% 60.4%,
    99.4% 66.6%,
    99.2% 69.5%,
    97.4% 77.1%,
    98.1% 82.3%,
    99.9% 83.5%,
    98.2% 91.5%,
    99.3% 95.3%,
    98% 98.6%,
    93.6% 97.4%,
    90.3% 98.3%,
    86.8% 98.3%,
    78.6% 98.5%,
    76.4% 99.2%,
    69.7% 99.8%,
    64.2% 99.3%,
    61.8% 99.2%,
    57.2% 98.1%,
    48.7% 98.3%,
    46.8% 99%,
    39.6% 98.9%,
    33.8% 97.3%,
    28.2% 99.4%,
    27% 98.3%,
    22.1% 98.6%,
    13.1% 97.1%,
    8.7% 99.3%,
    2.7% 97.4%,
    2% 98.2%,
    2.1% 94.3%,
    0.7% 90.5%,
    0.9% 86.3%,
    2.2% 78.2%,
    0.4% 76.7%,
    1.2% 72.1%,
    2% 64%,
    1.4% 59.8%,
    0.4% 57.3%,
    0.3% 49.1%,
    2.9% 44.7%,
    1.9% 41.3%,
    0.8% 35.7%,
    2.9% 31.3%,
    0.8% 24.9%,
    2.7% 20.5%,
    0.8% 17.4%,
    2.5% 8.6%,
    1.1% 5.5%
  );
}

#content {
  display: grid;
  align-items: flex-start;
  grid-template-areas:
    "header  header"
    "about preparation"
    "ingredients preparation";
}

#content * {
  display: grid;
}

#content h1 {
  width: 100%;
  font-size: var(--s10);
  line-height: var(--s10);
  grid-area: header;
}

#outline-container-sobre {
  margin: var(--s7) 0;
  font-size: var(--s8);
  grid-area: about;
  align-items: flex-start;
  justify-content: left;
}

#outline-container-ingredientes {
  grid-area: ingredients;
}

#outline-container-modo-de-preparo {
  grid-area: preparation;
}

#outline-container-sobre * {
  margin: 0;
  gap: var(--s9);
}

#sobre {
  display: none;
}

@media screen and (max-width: 600px) {
  #content {
    padding: var(--s7);
    padding-left: var(--s8);
    background:
      repeating-linear-gradient(#0000 0 calc(1.2rem - 1px), #78baf3 0 1.2rem) right bottom /
        100% 100%,
      linear-gradient(#ffcecd 0 0) 30px 0/2px 100% #f4ebda;
    background-repeat: no-repeat;
  }

  #content h1 {
    font-size: var(--s9);
    line-height: var(--s9);
  }

  #outline-container-sobre {
    width: 100%;
    flex-direction: row;
    font-size: var(--s8);
  }
}
