/* https://colorhunt.co/palette/91ddcff7f9f2e8c5e5f19ed2 */

$lightgreen: #91ddcf;
$darkgreen: #31a08b;
$light: #f7f9f2;
$lightpink: #e8c5e5;
$strongpink: #f19ed2;
$strongerpink: #ea6bba;

:root {
  --lightgreen: #91ddcf;
  --darkgreen: #31a08b;
  --light: #f7f9f2;
  --lightpink: #e8c5e5;
  --strongpink: #f19ed2;
  --strongerpink: #ea6bba;
}
