@use "./sizes";
@use "./paper-shape";
@import "https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Mrs+Saint+Delafield&family=Rouge+Script&display=swap";
@import "https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=League+Script&family=Mrs+Saint+Delafield&family=Rouge+Script&display=swap";

body {
  background: url("../../static/pics/table.jpeg");
  background-position: 10% 75%;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Rouge Script", cursive;
  box-sizing: border-box;
  padding-bottom: var(--s7);
  padding-right: var(--s7);
}

#content {
  position: relative;
  background-color: #f4ebda;
  border-radius: 0.25rem;
  overflow: hidden;
  background:
    repeating-linear-gradient(#0000 0px calc(var(--s8) - 1px), #78baf3 0 var(--s8)) right
      bottom / 100% 100%,
    linear-gradient(#ffcecd 0 0) 45px 0/2px 100% #f4ebda;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  min-width: 80vw;
  transform: rotate(-0deg);
  @include paper-shape.torn-paper-shape;

  h1 {
    width: 100%;
    font-size: var(--s9-7);
    line-height: var(--s10);
    grid-area: header;
    margin-bottom: var(--s7);
  }
}

.content {
  display: grid;
  align-items: flex-start;
  grid-template-areas:
    "header       header       header      header      header"
    "about        about        preparation preparation preparation"
    "ingredients  ingredients  preparation preparation preparation";
  grid-template-columns: repeat(5, 1fr);
  max-width: var(--s15);
  padding: var(--s9);
  padding-top: 0;

  font-family: "Corinthia", serif;
  font-size: var(--s8);
  line-height: var(--s8);

  div {
    display: grid;
    text-align: left;
  }
}

#outline-container-sobre {
  margin: var(--s7) 0;
  line-height: var(--s8);
  grid-area: about;
  align-items: flex-start;
  justify-content: left;

  * {
    margin: 0;
  }

  a {
    color: Crimson;
  }
}

#sobre {
  display: none;
}

#text-sobre {
  grid-template-rows: 1fr;
}

#outline-container-ingredientes {
  display: flex;
  flex-direction: column;

  table {
    width: 100%;
  }

  tr {
    display: grid;
    grid-template-columns: 1fr auto; // Left flexible, right auto-width
    gap: 10px;
    align-items: baseline;

    td:first-child {
      justify-self: start; // Left align
    }

    td:last-child {
      justify-self: start; // Left align within their column
      text-align: left;
    }
  }

  #ingredientes {
    align-self: center;
    justify-self: center;
    grid-area: title;

    a {
      text-decoration: none;
    }
  }
}

#text-ingredientes {
  grid-area: ingredients;
}

#outline-container-modo-de-preparo {
  grid-area: preparation;
  padding-left: var(--s8);

  > * {
    grid-column: 1;
  }

  a {
    text-decoration: none;
  }

  p {
    margin: 0;
  }

  ol {
    margin-top: var(--s9);
  }

  li {
    padding-left: var(--s7);
    margin-top: var(--s7);

    &::marker {
      color: blue;
    }
  }
}

#back-btn {
  width: var(--s9);
  height: var(--s9);
  position: absolute;
  left: var(--s9);
  top: var(--s8);
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

  > img {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 450px) {
    width: var(--s8);
    height: var(--s9);
    position: absolute;
    left: var(--s7);
    top: var(--s8);
  }
}

///////////////////
// Portrait mode //
///////////////////

@media screen and (orientation: portrait) {
  #content {
    display: flex;
    flex-direction: column;
  }

  #outline-container-ingredientes {
    width: 100%;
  }
}
