:root {
  --s1: 1px;
  --s2: 2px;
  --s3: 3px;
  --s4: 5px;
  --s5: 8px;
  --s6: 13px;
  --s7: 21px;
  --s8: 34px;
  --s9: 55px;
  --s10: 89px;
  --s11: 144px;
  --s12: 233px;
  --s13: 377px;
  --s14: 610px;
  --s15: 987px;
  --s16: 1597px;

  --s7-5: calc(var(--s7) + var(--s5));
  --s8-6: calc(var(--s8) + var(--s6));
  --s9-7: calc(var(--s9) + var(--s7));
  --s10-8: calc(var(--s10) + var(--s8));
  --s11-9: calc(var(--s11) + var(--s9));
  --s12-10: calc(var(--s12) + var(--s10));
}
