/* https://freefrontend.com/css-paper-effects/ */

:root {
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
  --transparent: rgba(255, 255, 255, 0);
}

.pink {
  --paper-color: var(--lightpink);
  --paper-dark: var(--strongpink);
  --shadow-size: 1px;
  --transparent: rgba(232, 197, 229, 0);
}

.blue {
  --paper-color: #d5e0f9;
  --paper-dark: #c2d0ea;
  --shadow-size: 3px;
  --transparent: rgba(213, 224, 249, 0);
}

.green {
  --paper-color: var(--lightgreen);
  --paper-dark: var(--darkgreen);
  --shadow-size: 3px;
  --transparent: rgba(145, 221, 207, 0);
}

.paper {
  position: relative;
  background: linear-gradient(to bottom right, var(--paper-dark), 20%, var(--transparent)),
    var(--paper-color);
  width: var(--s11-9);
  height: var(--s10-8);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
  margin: 21px;
  padding: 13px;
  text-align: center;
}

.paper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: linear-gradient(
      var(--transparent),
      49%,
      var(--paper-dark),
      51%,
      var(--transparent)
    ),
    linear-gradient(
      to right,
      var(--transparent),
      49%,
      var(--paper-dark),
      51%,
      var(--transparent)
    );
}

.tape-section {
  position: absolute;
  width: 100%;
}

.top-tape {
  position: absolute;
  height: 3.5vmin;
  top: calc(-1 * var(--s6));
  width: 110%;
  background-color: var(--tape-gray);
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
  opacity: 0.5;
}

.tape-section:first-of-type {
  top: 0;
}

.tape-section:last-of-type {
  bottom: 0;
}

.tape-section::before,
.tape-section::after {
  content: "";
  width: 10vmin;
  height: 4vmin;
  position: absolute;
  background-color: var(--tape-gray);
  opacity: 0.5;
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
}

.tape-section:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}

.tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}

.tape-section:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}

.tape-section:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}

/********/
/* Icon */
/********/

.card-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
}

.card-icon img {
  width: 100%;
  height: 100%;
}
