#upBtn {
  background-color: var(--strongpink);
  border-radius: 1000px;
  border: none;
  bottom: 20px;
  color: var(--light);
  display: block;
  height: 70px;
  opacity: 0.7;
  padding: 0;
  position: fixed;
  right: 20px;
  width: 70px;
  z-index: 1000;

  &:hover {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
    visibility: visible;
    transition: opacity 1s ease-in-out;
  }

  &.shown {
    opacity: 0.8;
    visibility: visible;
    transition: opacity 1s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  @media only screen and (min-width: 600px) {
    right: 40px;
    bottom: 40px;
  }
}
